main{
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgb(209, 209, 209);
    border-radius: 10px;
    padding:20px;
}

nav{
    background: linear-gradient(90deg,rgb(152, 226, 255), rgb(183, 235, 255));

}
/* code {
    white-space: pre;
} */

python-exec{
    background-color: red;
}

h4{
    margin-top: 30px;
}

header{
    position: sticky;
	top: 0;
    z-index: 500;
    /* box-shadow: 0 0 20px rgb(255, 255, 255); */
}

.accordion-button:not(.collapsed) {
    color: #FFF;
    background: linear-gradient(90deg,rgb(41, 112, 255),rgb(130, 197, 255));

}

main>.accordion>.accordion-item>.accordion-header>.accordion-button:not(.collapsed){
    color: black;
    /* background: linear-gradient(90deg,rgb(82, 255, 77), rgb(122, 255, 126)); */
    background: linear-gradient(90deg,rgb(152, 226, 255), rgb(183, 235, 255));
    
}



.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
}


.navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}
.navbar-toggler{
    border: none;
}

#introtext:first-of-type::first-letter {
    float:left;
    font-size: 60px;
    /* font-size: 6rem; */
    line-height: 40px;
    /* line-height: 4rem; */
    height:4rem;
    text-transform: uppercase;
    color: rgb(65, 65, 65);
}

.text-blue{
    color: rgb(152, 226, 255);
}




@media (max-width: 768px) {
    .container{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 3px;
        padding-right: 3px;
        border-radius: 0px;
    }
    
    .main{
        padding-right:3px;
        padding-left:3px;
        margin-top: 20px;
        box-shadow: 0 0 10px rgb(209, 209, 209);
        border-radius: 0px;
        
        
    }

    .accordion-body{
        padding-left: 1px;
        padding-right: 1px;
    }
}

footer{
    height: 300px;
    
    background: linear-gradient(90deg,rgb(152, 226, 255), rgb(183, 235, 255));
}